<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018044330468-eire81ghvo2luc6h5pg1fic14itgambk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018044330468-eire81ghvo2luc6h5pg1fic14itgambk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018044330468-3b0efntd1rjsvkm6asadm0vcerrvjpkb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7aS9qC3KauDcKEKE2MRnJCIrOGdzOT7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1018044330468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carenco.fisica</string>
	<key>PROJECT_ID</key>
	<string>fisicatest-fc73a</string>
	<key>STORAGE_BUCKET</key>
	<string>fisicatest-fc73a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018044330468:ios:92bbb323cffb0ede3ad7f1</string>
</dict>
</plist>